@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.s1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .lside {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rside {
    width: 40%;
  }
  .main-content {
    h1 {
      position: absolute;
      left: 5rem;
      top: 5rem;
      font-size: 3rem;
      color: white;
      font-family: "Inter";
    }
    h2 {
      white-space: nowrap;
      color: white;
      font-family: "Inter";
      font-weight: bold;
      font-size: 90px;
      width: 550px;
      .gradient {
        font-family: serif;
        font-style: italic;
        font-size: 90px;
        background: #101010;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(45deg, aqua, blue);
      }
    }
    h3 {
      font-size: 60px;
      color: white;
      font-family: "Inter";
      .gradient {
        font-size: 70px;
        font-style: italic;
        font-family: serif;
        background: #101010;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(45deg, aqua, blue);
      }
    }
  }
}

img {
  width: 500px;
  height: auto;
  border-radius: 300px;
}

.toggle {
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background: #101010;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, aqua, rgb(0, 213, 255));
}
.page {
  text-align: right;
  font-size: 40px;
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  color: #1059ff;
}
