.s1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  .lside {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rside {
    width: 40%;
  }
  h1 {
    position: absolute;
    left: 4rem;
    top: 5rem;
    font-size: 4rem;
    color: white;
    font-family: Helvetica;
  }
  h2 {
    white-space: nowrap;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 6rem;
    width: 550px;
    .gradient {
      font-family: "Attena";
      font-style: italic;
      font-size: 9rem;
      background: #101010;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(45deg, aqua, blue);
    }
  }
}
