.divider {
  height: 7px;
  width: 60px;
  margin-top: 5px;
  background-image: linear-gradient(to right, #2f86ff, #1639ff);
}

// .s1 {
//   background-image: linear-gradient(to right, #2f86ff, #1639ff);
// }
// .s2 {
//   background-image: linear-gradient(to right, #ff7d7d, #ff0000);
// }
// .s3 {
//   background-image: linear-gradient(to right, #ffcf7d, #e39d07);
// }
